[Desktop Entry]
Version=1.0
Name=Explorer++
Exec=/usr/local/bin/wine-explorer++ %U
StartupNotify=true
Terminal=false
Icon=wine-explorer++
Type=Application
MimeType=text/plain
Categories=System;Utility;Core;FileTools;FileManager;





