[Desktop Entry]
Type=Application
Name=SDRSarp-x86
Icon=sdrsharp
TryExec=mpv
Exec=sdrsharp-x86
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
Name[ru_RU]=SDRSharp-x64-next
