[Desktop Entry]
Version=1.0
Name=Contra
Exec=/usr/local/bin/contra-nes %U
StartupNotify=true
Terminal=false
Icon=/usr/local/share/pixmaps/contra-nes.jpg
Type=Application
Categories=Games;Game






