[Desktop Entry]
Version=1.0
Name=Guns of Fury
Exec=/usr/local/bin/linux-gof %U
StartupNotify=true
Terminal=false
Icon=/usr/local/share/gof/icon.png
Type=Application
Categories=Game
Actions=new-window;new-private-window;
