[Desktop Entry]
Name=Opera Proxy
Exec=operaproxy-qt6
Icon=/usr/local/share/pixmaps/opera-proxy.jpg
Type=Application
Terminal=false
Categories=Network;
Name[ru_RU]=Opera Proxy
