[Desktop Entry]
Version=1.0
Name=LiveTV Player — Stream Detector Active
Exec=/usr/local/bin/LiveTvGUI-Qt6
StartupNotify=true
Terminal=false
Icon=livetv.png
Type=Application
Categories=AudioVideo;Audio;Video;Player;TV;






